
* {
	margin: 0;
	padding: 0
}

.container{
	margin: 0 auto;
}

#form {
	display: block;
	width: 350px;
	margin: 15px auto 0;
}

.fieldset{
	width: 500px;
	padding: 10px;
}

p {
	margin-bottom: 8px;
}

legend {
	font-size: 17px;
	display: block;
	padding: 0 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.radio-variant {
	display: inline-block;
	width: 47%;
}

.row {
	border-bottom: 1px solid gray;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

input[type=submit] {
	padding: 4px 15px 6px;
	margin-bottom: 10px;
}

#message {
	height: 28px
}

label {
	cursor: pointer;
}

.button__hamburger{
	font-size: 28;
	font-weight: 900;
	color: red;
	padding: 10px 30px;
	margin-bottom: 10px;
}